

.container {
  width: 90vw;
  margin: 5rem 0;
  max-width: 450px;
  background: white;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.section {
  width: 90vw;
  max-width: 1170px;
}  
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.person { 
  display: grid;
 grid-template-columns: auto 1fr;
 column-gap: 0.75rem;
 margin-bottom: 1.5rem;
 align-items: center;
}
.person img {
 width: 75px;
 height: 75px;
 object-fit: cover;
 border-radius: 50%;
 box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
}
h2{
  /* margin-left: 5rem; */
  display: flex;
  justify-content: center;
}
.container button {
  color: black;
  display: block;
  width: 100%;
  border-color: transparent;
  background: navy;
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  border-radius: 6px;
  cursor: pointer;
}  